{% extends 'base.html' %}
{% load articletags %}
{% block container %}
        <div class="row">

            {% include 'sidebar_nav.html' %}

            <div class="col-md-8">
                <h2>{{ article.title }}<br>
                    <small>{{ article.publication_date|date:"F j, Y" }} at {{ article.publication_date|date:"h:i A" }} | {{ article.author|title }}</small>
                </h2>
                <img class="img-responsive" src="{{ article.hero_image.url }}" alt="">
                <br>
                <div class="row">
                    <div class="col-lg-{% if article.additional_image %}8{% else %}12{% endif %}">
                          <p class="text-justify" style="white-space: pre-line;">{{ article.body_text }}</p>
                    </div>
                    {% if article.additional_image %}
                    <div class="col-lg-4">
                        <img class="img-responsive" src="{{ article.additional_image.url }}" alt="">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% include_random_articles %}

{% endblock %}